# Code Samples From Large Group

In [3]:
prof = {}

In [4]:
type(prof)

dict

In [5]:
prof["school"] = "IST"

In [6]:
prof["name"] = "Mike"

In [7]:
prof["classes"] = [ "IST256", "IST769"]

In [8]:
prof

{'school': 'IST', 'name': 'Mike', 'classes': ['IST256', 'IST769']}

In [9]:
print("The prof's name is ", prof["name"])

The prof's name is  Mike

In [10]:
prof["age"]

KeyError: 'age'

In [11]:
prof["name"] = "Michael"

In [12]:
prof

{'school': 'IST', 'name': 'Michael', 'classes': ['IST256', 'IST769']}

In [13]:
prof["age"] = 50

In [14]:
prof["age"] = prof["age"] + 1

In [15]:
prof

{'school': 'IST',
 'name': 'Michael',
 'classes': ['IST256', 'IST769'],
 'age': 51}

In [16]:
dir

In [17]:
otherprof

{'school': 'IST',
 'name': 'Michael',
 'classes': ['IST256', 'IST769'],
 'age': 51}

In [18]:
otherprof["name"] = "Deb"

In [19]:
prof

{'school': 'IST', 'name': 'Deb', 'classes': ['IST256', 'IST769'], 'age': 51}

In [20]:
otherprof

{'school': 'IST', 'name': 'Deb', 'classes': ['IST256', 'IST769'], 'age': 51}

In [21]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [22]:
students = [     
    { 'Name':'bob','GPA':3.4 },   
    { 'Name':'sue','GPA':2.8 },  
    { 'Name':'kent','GPA':4.0 }  
]

In [24]:
students[0]["Name"]

'bob'

In [25]:
students[-1]["GPA"]

4.0

In [26]:
students["Name"]

TypeError: list indices must be integers or slices, not str

In [27]:
students[0][1]

KeyError: 1

In [28]:
for s in students:
    print(f"{s['Name']} has a GPA of {s['GPA']}")

bob has a GPA of 3.4
sue has a GPA of 2.8
kent has a GPA of 4.0

In [29]:
type(s)

dict

In [30]:
s.keys()

dict_keys(['Name', 'GPA'])

In [31]:
with open ("stocks.json","r") as f:
    contents = f.read()
    
contents

'[\n  { "symbol" : "AAPL", "price" : 126.82 },\n  { "symbol" : "AMZN", "price" : 3098.12 },\n  { "symbol" : "FB", "price" : 251.11 },\n  { "symbol" : "GOOG", "price" : 1725.05 },\n  { "symbol" : "IBM", "price" : 128.39 },\n  { "symbol" : "MSFT", "price" : 212.55 },\n  { "symbol" : "NET", "price" : 78.00 },\n  { "symbol" : "NFLX", "price" : 497.00 },\n  { "symbol" : "TSLA", "price" : 823.80 },\n  { "symbol" : "TWTR", "price" : 45.11 }\n]\n'

In [32]:
import json

In [33]:
with open ("stocks.json","r") as f:
    contents = f.read()
    data = json.loads(contents)

In [34]:
type(contents)

str

In [35]:
type(data)

list

In [37]:
data[1]['price']

3098.12

In [38]:
with open ("mike.json","r") as f:
    prof = json.load(f)

In [40]:
prof["name"]

'mike'

In [41]:
with open ("stocks.json","r") as f:
    contents = f.read()
    stocks = json.loads(contents)

In [42]:
type(stocks)

list

In [47]:
for stock in stocks:
    symbol = stock['symbol']
    price = stock['price']
    
    print(f"{symbol} ${price:.2f}")

AAPL $126.82
AMZN $3098.12
FB $251.11
GOOG $1725.05
IBM $128.39
MSFT $212.55
NET $78.00
NFLX $497.00
TSLA $823.80
TWTR $45.11

In [44]:
stock.keys()

dict_keys(['symbol', 'price'])

In [50]:
data = '{ "name" : "mike"}'
obj = json.loads(data)
obj

{'name': 'mike'}

In [51]:
data

'{ "name" : "mike"}'

In [52]:
with open ('europe.json','r') as f:
    stuff = f.read()
    europe = json.loads(stuff)

In [53]:
with open ('europe.json','r') as f:
    europe = json.load(f)

In [54]:
type(europe)

list

In [56]:
europe[10]['name']

'Czech Republic'

In [59]:
for country in europe:
    print(country['name'], country['subregion'])

Åland Islands Northern Europe
Albania Southern Europe
Andorra Southern Europe
Austria Western Europe
Belarus Eastern Europe
Belgium Western Europe
Bosnia and Herzegovina Southern Europe
Bulgaria Eastern Europe
Croatia Southern Europe
Cyprus Southern Europe
Czech Republic Eastern Europe
Denmark Northern Europe
Estonia Northern Europe
Faroe Islands Northern Europe
Finland Northern Europe
France Western Europe
Germany Western Europe
Gibraltar Southern Europe
Greece Southern Europe
Guernsey Northern Europe
Holy See Southern Europe
Hungary Eastern Europe
Iceland Northern Europe
Republic of Ireland Northern Europe
Isle of Man Northern Europe
Italy Southern Europe
Jersey Northern Europe
Latvia Northern Europe
Liechtenstein Western Europe
Lithuania Northern Europe
Luxembourg Western Europe
Republic of Macedonia Southern Europe
Malta Southern Europe
Moldova Eastern Europe
Monaco Western Europe
Montenegro Southern Europe
Netherlands Western Europe
Norway Northern Europe
Poland Eastern Europe
Portugal Southern Europe
Republic of Kosovo Eastern Europe
Romania Eastern Europe
Russia Eastern Europe
San Marino Southern Europe
Serbia Southern Europe
Slovakia Eastern Europe
Slovenia Southern Europe
Spain Southern Europe
Svalbard and Jan Mayen Northern Europe
Sweden Northern Europe
Switzerland Western Europe
Ukraine Eastern Europe
United Kingdom Northern Europe

In [61]:
type(country)

dict

In [62]:
country

{'name': 'United Kingdom',
 'topLevelDomain': ['.uk'],
 'alpha2Code': 'GB',
 'alpha3Code': 'GBR',
 'callingCodes': ['44'],
 'capital': 'London',
 'altSpellings': ['GB', 'UK', 'Great Britain'],
 'relevance': '2.5',
 'region': 'Europe',
 'subregion': 'Northern Europe',
 'translations': {'de': 'Vereinigtes Königreich',
  'es': 'Reino Unido',
  'fr': 'Royaume-Uni',
  'ja': 'イギリス',
  'it': 'Regno Unito'},
 'population': 64800000,
 'latlng': [54.0, -2.0],
 'demonym': 'British',
 'area': 242900.0,
 'gini': 34.0,
 'timezones': ['UTC-08:00',
  'UTC-05:00',
  'UTC-04:00',
  'UTC-03:00',
  'UTC-02:00',
  'UTC',
  'UTC+01:00',
  'UTC+02:00',
  'UTC+06:00'],
 'borders': ['IRL'],
 'nativeName': 'United Kingdom',
 'numericCode': '826',
 'currencies': ['GBP'],
 'languages': ['en']}

In [63]:
for country in europe:
    print(country['name'], country['borders'])

Åland Islands []
Albania ['MNE', 'GRC', 'MKD', 'KOS']
Andorra ['FRA', 'ESP']
Austria ['CZE', 'DEU', 'HUN', 'ITA', 'LIE', 'SVK', 'SVN', 'CHE']
Belarus ['LVA', 'LTU', 'POL', 'RUS', 'UKR']
Belgium ['FRA', 'DEU', 'LUX', 'NLD']
Bosnia and Herzegovina ['HRV', 'MNE', 'SRB']
Bulgaria ['GRC', 'MKD', 'ROU', 'SRB', 'TUR']
Croatia ['BIH', 'HUN', 'MNE', 'SRB', 'SVN']
Cyprus ['GBR']
Czech Republic ['AUT', 'DEU', 'POL', 'SVK']
Denmark ['DEU']
Estonia ['LVA', 'RUS']
Faroe Islands []
Finland ['NOR', 'SWE', 'RUS']
France ['AND', 'BEL', 'DEU', 'ITA', 'LUX', 'MCO', 'ESP', 'CHE']
Germany ['AUT', 'BEL', 'CZE', 'DNK', 'FRA', 'LUX', 'NLD', 'POL', 'CHE']
Gibraltar ['ESP']
Greece ['ALB', 'BGR', 'TUR', 'MKD']
Guernsey []
Holy See ['ITA']
Hungary ['AUT', 'HRV', 'ROU', 'SRB', 'SVK', 'SVN', 'UKR']
Iceland []
Republic of Ireland ['GBR']
Isle of Man []
Italy ['AUT', 'FRA', 'SMR', 'SVN', 'CHE', 'VAT']
Jersey []
Latvia ['BLR', 'EST', 'LTU', 'RUS']
Liechtenstein ['AUT', 'CHE']
Lithuania ['BLR', 'LVA', 'POL', 'RUS']
Luxembourg ['BEL', 'FRA', 'DEU']
Republic of Macedonia ['ALB', 'BGR', 'GRC', 'KOS', 'SRB']
Malta []
Moldova ['ROU', 'UKR']
Monaco ['FRA']
Montenegro ['ALB', 'BIH', 'HRV', 'KOS', 'SRB']
Netherlands ['BEL', 'DEU']
Norway ['FIN', 'SWE', 'RUS']
Poland ['BLR', 'CZE', 'DEU', 'LTU', 'RUS', 'SVK', 'UKR']
Portugal ['ESP']
Republic of Kosovo ['ALB', 'MKD', 'MNE', 'SRB']
Romania ['BGR', 'HUN', 'MDA', 'SRB', 'UKR']
Russia ['AZE', 'BLR', 'CHN', 'EST', 'FIN', 'GEO', 'KAZ', 'PRK', 'LVA', 'LTU', 'MNG', 'NOR', 'POL', 'UKR']
San Marino ['ITA']
Serbia ['BIH', 'BGR', 'HRV', 'HUN', 'KOS', 'MKD', 'MNE', 'ROU']
Slovakia ['AUT', 'CZE', 'HUN', 'POL', 'UKR']
Slovenia ['AUT', 'HRV', 'ITA', 'HUN']
Spain ['AND', 'FRA', 'GIB', 'PRT', 'MAR']
Svalbard and Jan Mayen []
Sweden ['FIN', 'NOR']
Switzerland ['AUT', 'FRA', 'ITA', 'LIE', 'DEU']
Ukraine ['BLR', 'HUN', 'MDA', 'POL', 'ROU', 'RUS', 'SVK']
United Kingdom ['IRL']

In [65]:
for country in europe:
    print(country['name'], country['alpha3Code'])

Åland Islands ALA
Albania ALB
Andorra AND
Austria AUT
Belarus BLR
Belgium BEL
Bosnia and Herzegovina BIH
Bulgaria BGR
Croatia HRV
Cyprus CYP
Czech Republic CZE
Denmark DNK
Estonia EST
Faroe Islands FRO
Finland FIN
France FRA
Germany DEU
Gibraltar GIB
Greece GRC
Guernsey GGY
Holy See VAT
Hungary HUN
Iceland ISL
Republic of Ireland IRL
Isle of Man IMN
Italy ITA
Jersey JEY
Latvia LVA
Liechtenstein LIE
Lithuania LTU
Luxembourg LUX
Republic of Macedonia MKD
Malta MLT
Moldova MDA
Monaco MCO
Montenegro MNE
Netherlands NLD
Norway NOR
Poland POL
Portugal PRT
Republic of Kosovo KOS
Romania ROU
Russia RUS
San Marino SMR
Serbia SRB
Slovakia SVK
Slovenia SVN
Spain ESP
Svalbard and Jan Mayen SJM
Sweden SWE
Switzerland CHE
Ukraine UKR
United Kingdom GBR

In [69]:
country_names = []
for country in europe:
    if country['name'] not in country_names:
        country_names.append(country['name'])
        
from ipywidgets import interact

@interact(Country=country_names)
def onchange(Country):
    for country in europe:
        if country['name'] == Country:
            print(country['name'])
            print(country['capital'])
            print(country['subregion'])
            print(country['borders'])
            break

interactive(children=(Dropdown(description='Country', options=('Åland Islands', 'Albania', 'Andorra', 'Austria…

In [68]:
country 'name', 'capital', 'subregion', 'borders'

{'name': 'United Kingdom',
 'topLevelDomain': ['.uk'],
 'alpha2Code': 'GB',
 'alpha3Code': 'GBR',
 'callingCodes': ['44'],
 'capital': 'London',
 'altSpellings': ['GB', 'UK', 'Great Britain'],
 'relevance': '2.5',
 'region': 'Europe',
 'subregion': 'Northern Europe',
 'translations': {'de': 'Vereinigtes Königreich',
  'es': 'Reino Unido',
  'fr': 'Royaume-Uni',
  'ja': 'イギリス',
  'it': 'Regno Unito'},
 'population': 64800000,
 'latlng': [54.0, -2.0],
 'demonym': 'British',
 'area': 242900.0,
 'gini': 34.0,
 'timezones': ['UTC-08:00',
  'UTC-05:00',
  'UTC-04:00',
  'UTC-03:00',
  'UTC-02:00',
  'UTC',
  'UTC+01:00',
  'UTC+02:00',
  'UTC+06:00'],
 'borders': ['IRL'],
 'nativeName': 'United Kingdom',
 'numericCode': '826',
 'currencies': ['GBP'],
 'languages': ['en']}